{:paths ["src" "target/classes"]

 :deps/prep-lib
 {:alias :build
  :fn compile
  :ensure "target/classes"}

 :deps {commons-codec/commons-codec {:mvn/version "1.22.1"}
        org.apache.commons/commons-compress {:mvn/version "1.28.0"}
        at.yawk.lz4/lz4-java {:mvn/version "1.11.2"}}


 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}
                criterium/criterium {:mvn/version "0.4.6"}}
   :extra-paths ["test" "dev"]}

  :profiler
  {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.8.0"}
                com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.5.0"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]}

  :jfr
  {:jvm-opts ["-XX:StartFlightRecording=duration=5m,filename=clojure_profile.jfr,settings=profile"]}

  :simd
  {:jvm-opts ["--add-modules" "jdk.incubator.vector"]}}}
